htmnl, body {
	box-sizing: border-box;
	width: 100%;
}
body {
    background-color: #333333; /* темно-серый цвет */
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.navbar {
	width: 100%;
	padding-left: 20px;
  	padding-right: 50px;
  	margin: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
}
.logo {
    text-align: center;
	display: inline-block;
	color: white;
}

.nav-links {
	list-style: none;
	display: flex;
}

.nav-item a {
	display: inline-block;
	text-decoration: none;
	padding: 10px 15px;
	color: white;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: darkgreen;
}
th {
    color: white;
}
td {
       color: white;
   }
.main {
	width: 100%;
	padding: 50px;
	margin: 0px;
}

.text {
	height: 250px;
	color: white;
}

h1G {
	color: green;
}
h1 {
    color:white;
}
label{
    color:white;
}

.center{
	text-align: center;
	color: white;
}

input[type=submit].link { 
	border: none; 
	background: none; 
	color: white;
	text-decoration: none;
}

input[type=submit].link hover{ 
	color: darkgreen;
}


form.link {
	align-items: center;
	display: inline-block; 
	padding: 10px 15px;

}
nav-item.form.link {
}
.nav-item {
	color: white;
}
