<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Spring Boot Tutorial</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:fragment="navbar">
	<nav class="navbar">
		<a href="index"> <img src="https://le8ore.files.wordpress.com/2016/12/th.jpg" width="100"></a>
		<h1 class="logo">Graduation project</h1>
	</nav>
</div>
</body>
</html>